div.manage-item {
	margin: 15px 0px;
}

.dashboard-button {
	background: none repeat scroll 0% 0% #2EA2CC;
	border-color: #0074A2;
	box-shadow: 0px 1px 0px rgba(120, 200, 230, 0.5) inset, 0px 1px 0px rgba(0, 0, 0, 0.15);
	color: #FFF;
	text-decoration: none;
	height: 128px;
	width: 128px;
	line-height: 28px;
	border-radius: 5px;
	margin: 10px;
	font-weight: bold;
	overflow: hidden;
	font-size: 12px;
}

.dashboard-icon {
	width: 70px;
	height: 70px;
}

dl.lib-metabox * {
	padding: 0;
	margin: 0;
}

dl.lib-metabox {
	width: 350px;
	background: #F9F9F9;
	border-radius: 4px;
	padding: 4px;
}

.meta-row {
	overflow: auto;
}

dl.lib-metabox dt {
	float: left;
	width: 25%;
}
dl.lib-metabox dd {
	float: right;
	width: 75%;
}

#library-form button {
	margin-left: 2px;
}

/* Dynatable Styling */

.dynatable-table th a:hover {
	color: black;
}

.dynatable-table tbody tr:nth-child(odd) td{
	background-color: #F9F9F9;
}

/* Item List Styling */

li.single-item {
	background-color: #F9F9F9;
	border-radius: 5px;
	list-style-type: none;
	margin-right: 20px;
	padding: 10px;
	border: 0px none;
	display: block;
	float: left;
	position: relative;
}

ul.item-list {
	overflow: auto;
}

li.single-item {
	width: 180px;
	height: 340px;
	overflow: hidden;
	margin-bottom: 20px;
}

div.item-thumbnail {
	width: 180px;
	height: 240px;
	overflow: hidden;
	position: relative;
}

div.item-thumbnail-centrefix {
    position: absolute;
    left: -20px;
    right: -20px;
    margin: auto;
}

div.item-no-thumbnail:before {
	content: "\f330";
	font-family: dashicons;
	font-size: 100px;
	position: absolute;
	top: 120px;
	left: 50px;
	width: 150px;
	height: 150px;
	color: 222222px;
}

div.item-thumbnail-centrefix img {
	display: block;
	margin: 0 auto;
}

li.single-item button {
	position: absolute;
	top: 320px;
}

div.item-meta {
	position: absolute;
	top: 245px;
}

button.item-manage {
	left: 10px;
}

button.item-view {
	right: 10px;
}

p.item-authors {
	font-style: italic;
	margin: 0px;
}

h4.item-title {
	margin: 0px;
}























