table.meta-section-fields {
	padding: 5px;
}

div.meta-section-title {
	border-bottom: 1px solid #e1e1e1;
}

div#item-meta {
	padding: 15px;
}

div.meta-section-title > h3 {
	padding-left: 0px !important;
}