/*
 * Name:		WP-Librarian Admin Dashboard Styles
 * Author:		Kit Maywood
 * Description:	Contains all CSS rules specific to the Library Dashboard.
 * Extends:		WP-Librarian Admin Core Styles
 * Version:		0.1
 */

/* General Dashboard Styles */

div.manage-item {
	margin: 15px 0px;
}

#wp-lib-header, form.lib-form, div.dynatable-wrap {
	margin: 5px 0px;
	display: block;
	clear: both;
}

div.dash-paras {
	clear: both;
}

#wp-lib-header {
	overflow: auto;
}

.lib-form > select {
	margin: 2px;
}

/* Meta boxes */

div.lib-metabox * {
	padding: 0;
	margin: 0;
}

div.lib-metabox {
	width: 50%;
	max-width: 320px;
	min-width: 230px;
	background-color: #FFF;
	border-radius: 4px;
	padding: 5px 10px;
	margin: 10px 10px 10px 0px;
	float: left;
}

.meta-row {
	overflow: auto;
}

table.lib-metabox th {
	white-space: nowrap;
	font-weight: normal;
	vertical-align: text-top;
	text-align: left;
}

table.lib-metabox td {
	padding-left: 5px;
}

/* Dash Buttons */

.dash-button {
	display: inline-block;
	background: #1E8CBE;
	overflow: hidden;
}

.dash-button:link, .dash-button:visited, .dash-button:hover, .dash-button:active {
    text-decoration: none;
}

.dash-button:hover {
	cursor: pointer;
}

.dash-button-large {
	margin: 5px;
	height: 120px;
	width: 120px;
	border-radius: 4px;
}

.dash-button-medium {
	line-height: 28px;
	padding: 0px 12px 2px;
	color: #F9F9F9;
	border-radius: 2px;
	vertical-align: top;
	margin: 1px;
	height: 28px;
}

/* Dash Home Buttons */

div.dash-button-wrapper {
	width: 90%;
	height: 90%;
	position: relative;
	top: 50%;
	margin: -55px auto auto auto;
}

div.dash-icon {
	color: #F9F9F9;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.dash-icon-large {
	font-size: 80px;
	height: 80px;
	width: 80px;
}

.dash-icon-medium {
	margin: 2px;
	font-size: 25px;
	height: 25px;
	width: 25px;
}

.dash-icon-medium-parent {
	padding: 1px 8px;
}

h4.dash-button-text {
	font-size: 12px;
	text-align: center;
	margin: 5px 0px;
	display: block;
	color: #F9F9F9;
}

/* Datepickers */

div.ui-widget-content {
	border: none;
	background: #9C9C9C;
}

/* Dynatable */

span.dynatable-search > input {
	border-radius: 2px;
}

div.dynatable-wrap {
	margin-top: 15px;
}

table.dynatable-table {
	border-radius: 4px;
	border: none;
}

a.dynatable-sort-header, a.dynatable-sort-header:hover {
	color: black;
}

.dynatable-table tbody tr:nth-child(odd) td{
	background-color: #F9F9F9;
}

div.dtable-process-wrap {
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	animation: pulse 1s ease infinite;
	/* transition: transform 0.2s; */
}

div.dtable-process-icon {
	font-size: 80px;
	margin: 10px;
	color: rgba(255, 255, 255, 0.76);
	width: 80px;
	height: 80px;
	animation: pulse 1s ease infinite;
	/* transition: transform 0.2s; */
}

/*
 * Animates Dynatable processing icon
 * Thanks to Nick Salloum's guide (http://callmenick.com/2014/05/08/simple-css3-transitions-transforms-animations-compilation/)
 */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* Item List A.K.A. 'View Items' */

li.single-item {
	background-color: #FFF;
	border-radius: 4px;
	list-style-type: none;
	margin-right: 20px;
	padding: 10px;
	border: 0px none;
	display: block;
	float: left;
	position: relative;
}

li.single-item.late-item {
	background-color: #C65D5D;
}

li.single-item.late-item > div.item-meta {
	color: #EDEDED; /* Changes text colour to work with late item's different background colour */
}

ul.item-list {
	overflow: auto;
}

li.single-item {
	width: 180px;
	height: 340px;
	overflow: hidden;
	margin-bottom: 20px;
}

div.item-thumbnail {
	width: 180px;
	height: 240px;
	overflow: hidden;
	position: relative;
}

div.item-thumbnail-centrefix {
    position: absolute;
    left: -20px;
    right: -20px;
    margin: auto;
}

div.item-no-thumbnail:before {
	content: "\f330";
	font-family: dashicons;
	font-size: 100px;
	position: absolute;
	top: 120px;
	left: 50px;
	width: 150px;
	height: 150px;
	color: 222222px;
}

div.item-thumbnail-centrefix img {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

div.item-no-thumbnail {
	color: 5F5F5F;
}

li.single-item a {
	position: absolute;
	top: 320px;
}

div.item-meta {
	position: absolute;
	top: 245px;
	height: 6em;
	overflow: hidden;
}

a.item-manage {
	left: 10px;
}

a.item-view {
	right: 10px;
}

p.item-authors {
	font-style: italic;
}

.item-title, .item-authors, .item-status {
	margin: 0px;
}
